@import "../../vars.scss";

.originBoxWrapper {
  @extend %box_wrapper;
}

.originBoxHeader {
  display: block;
  border-bottom: 1px solid #dce1e6;
  height: 55px;
  line-height: 55px;
  font-weight: 500;
  padding: 0 25px;
}

.originBoxContent {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
}